.App {
  font-family: sans-serif;
  text-align: center;
}

.DayPicker-Day--highlighted {
  border-bottom: 1px solid white;
  color: black;
}

.DayPicker-Day--selectedDay {
  background-color: orange;
  color: white;
}
