.App {
  font-family: sans-serif;
  text-align: center;
}

.DayPicker-Day--highlighted {
  border-bottom: 1px solid blue;
  color: black;
}

.DayPicker-Day--selectedDate {
  background-color: red;
  color: violet;
}
